.products{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px 0;
}

/*------------Product Items------------*/
@import url("../utils/productitem/Productitem.css");

.filter_menu{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 55px;
    margin-bottom: 20px;
    z-index:inherit;
    font-weight: bold;
}
.filter_menu select,input{
    border:3px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
    border-radius: 5px;
}
.filter_menu input{
    flex: 0.6;
    margin: 0 10px;
}
/* ------------------ Load More -------------- */
.load_more{
    text-align: center;    
}
.load_more button{
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
} 
